@using Ejercicio1.Models.Entidades;

@model List<clsPersona>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
            </tr>
        </thead>
    @{
        for(int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].Nombre</td>
                <td>@Model[i].Apellido</td>
            </tr>
        }
        }
    @{
        foreach(clsPersona persona in Model)
        {
            <tr>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
            </tr>
        }
        }
    </table>
    @Html.ActionLink("Volver a Home", "Index")